---
layout: layouts/base.njk
---

<div class="jumbotronbg"></div>
<div class="jumbotron">
    <div class="container">
        <h1>Välkommen till Boken</h1>
        <p>En bostadsrättsförening i Hovmantorp</p>
    </div>
</div>



{{ content | safe }}

<div id="startpage_content">
    <h1>🔨 Felanmälan</h1>
    <p>Felanmälan dagtid (vardagar 07.00-16.00) görs direkt till ansvarig fastighetstekniker via
        mail eller telefon. Felanmälan kan också göras på <a href="https://axcell.se/felanmalan" target="_blank">Axcells hemsida</a><br>
        Vid <b>AKUTA</b> fel utanför ordinarie arbetstid samt helger kontaktas Axcell fastighetsjour på
        020-77 85 00 (även växelnummer dagtid). <br>
        Övriga ärenden kan mailas direkt till fastighetstekniker alternativt till info@axcell.se</p>

        <p>Fastighetstekniker:<br>
        Roger Svensson<br>
        📞 070-526 50 39<br>
        📧 roger.svensson@axcell.se
        </p>

    <h1>📇 Kontakt</h1>
    <p>
        Styrelsen nås lättas via 📧 styrelsen(a)brfboken.nu<br>
    </p>
    <p>
        <b>Ekonomisk förvaltning:</b><br>
        HSB Göta (blivande HSB Mellersta Götaland)<br>
        📞 0771-10 10 30<br>
        📧 servicecenter.mg@hsb.se<br>
        <br>
        <a href="https://mitthsb.hsb.se/" target="_blank">HSB Portalen</a>
    </p>
</div>
